body{
    text-align: center;
    display: flex;
    justify-content: center;
}

section.formSection{
    padding: 12px;
    background-color: aliceblue;
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.favTopic{
}